---
import '../css/global.css'
import NavigationBar from '../components/NavigationBar.astro';
import Footer from '../components/Footer.astro';
---

<head>
    <h1><span class="text-gradient-light-purple">Home Lab</span></h1>
    <hr>
    <NavigationBar />
    <h2>Hardware</h2>
    <p><strong>CPU:</strong> i5-8500</p>
    <p><strong>GPU:</strong> Intel UHD 650</p>
    <p><strong>Motherboard:</strong> Asus Prime Z390-P</p>
    <p><strong>RAM:</strong> 16GB DDR4</p>
    <h2>Storage</h2>
    <p>3x 2TB HDD</p>
    <p>1x 1TB HDD</p>
    <p>2x 256 GB NVmE M.2 SSD</p>
    <h2>Software & Services</h2>
    <p>Open Media Vault 8 (Debian 13 Kernel)</p>
    <p>snapRAID + MergerFS</p>
    <p>Jellyfin</p>
    <p>Automatic Ripping Machine</p>
    <p>Pihole</p>
    
    <Footer />
</head>

<style>

</style>