---
import '../css/global.css'
import NavigationBar from '../components/NavigationBar.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/Images/VoidWish.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>voidcloud04.github.io</title>
	</head>
	<body>
		<h1>Hi I'm <span class="text-gradient-light-purple">Void</span></h1>
		<hr>
		<NavigationBar />
		<h3>About Me</h3>
		<p>I used to make a lot of idle games, right now I'm working on my homelabbing experiments and my CS degree.</p>
		<p>Projects I'm prouder of are on this webpage and the rest are on my itch.io or github</p>
		<h3>Skills</h3>
		<div class="flexRowWrap">
			<p class="chip blue">C</p>
			<p class="chip blue">C++</p>
			<p class="chip yellow">JavaScript</p>
			<p class="chip orange">HTML/CSS</p>
			<p class="chip orange">Svelte</p>
			<p class="chip">Shell</p>
			<p class="chip blue">Docker</p>
		</div>
		<h3>Current Projects</h3>
		<p>Tailscale Setup for Remote Network Access.</p>
		<p>Liberation Idle: Hobby project that takes inspiration from the Helldivers universe.</p>
		<Footer />
	</body>
</html>


<style>
	h3 {
		font-family: 'Martian Mono';
		color: var(--purple);
	}
	p {
		font-family: 'Roboto Mono';
	}
</style>
