---
import '../css/global.css'
import NavigationBar from '../components/NavigationBar.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/Images/VoidWish.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>voidcloud04.github.io</title>
	</head>
	<body>
		<h1>Hi I'm <span class="text-gradient-light-purple">Void</span></h1>
		<hr>
		<NavigationBar />
		<h3>About Me</h3>
		<p>I make Idle Games & Other Random Things to try and teach myself new programming skills.</p>
		<p>You can view the projects I have listed on the other page or by exploring my github or itch.io profiles listed below :)</p>
		<p>Knowledgable in: C#, C++, Java, Javascript</p>
		<Footer />
	</body>
</html>


<style>
	h3 {
		font-family: 'Martian Mono';
		color: var(--purple);
	}
	p {
		font-family: 'Roboto Mono';
	}
</style>
