---
import '../css/global.css'
import NavigationBar from '../components/NavigationBar.astro';
import Footer from '../components/Footer.astro';
import Project from '../components/Project.astro';
---
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/Images/VoidWish.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>voidcloud04.github.io</title>
</head>
<body>
    <h1><span class="text-gradient-light-purple">Projects</span></h1>
    <hr>
    <NavigationBar />
    <h3>Web Based Projects</h3>
    <div id="projectHolder" class="gridContainer">
        <Project projectName="Under Pressure" projectDesc="A Game for the NYIGJ 2024" projectLine="https://mrbacon470.github.io/Under-Pressure" color="var(--white)"/>
        <Project projectName="Coop Co" projectDesc="Egg Inc without the MTX", projectLink="https://mrbacon470.github.io/Coop-Co"color="var(--yellow)"/>
        <Project projectName="Chemcremental JS" projectDesc="Remaster of an early project in JS takes inspiration from Synergism", projectLink="https://mrbacon470.github.io/Chemcremental-JS"color="var(--cyan)"/>
        <Project projectName="Pixel Simulation" projectDesc="A prototype particle simulation using HTML Canvases", projectLink="https://mrbacon470.github.io/PixelSimulation"color="var(--blue)"/>
        <Project projectName="Power Idle" projectDesc="One of my original Unity/C# Projects", projectLink="https://github.com/MrBacon470/Power-Idle"color="var(--orange)"/>
        <Project projectName="Github Repos" projectDesc="Anything stored on github for your viewing", projectLink="https://github.com/MrBacon470"color="var(--white)"/>
        <Project projectName="Itch.io" projectDesc="Old Games and Projects", projectLink="https://mrbacon470.itch.io"color="var(--red)"/>
    </div>
    

    <Footer />
</body>

<style>
    #projectHolder {
        padding-top:8em;
        margin-left: auto;
        margin-right: auto;
    }
</style>
