---
import '../css/global.css'
---
<footer>
    <p>Made using Astro | <a href="https://github.com/MrBacon470">Github</a>
</footer>

<style>
    p {
        font-family: 'Martian Mono';
        color: var(--light-purple);
    }
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        border-top: 2px solid var(--dark-purple);
        background-color: var(--background-color);
    }
</style>
