---

---
<span style="margin-bottom:3vh;">
    <a href="/">Home</a>
    &nbsp;
    <a href="/projects">Projects</a>
    &nbsp;
    <a href="/homelab">Home Lab</a>
</span>

<style>
    .flexRow {
        display: flex;
        flex-direction: row;
    }
</style>