---
import '../css/global.css'
const {projectName,projectDesc,projectLink,color} = Astro.props

---

<p><a style=`color:${color}` href=`${projectLink}`>{projectName}</a> - "{projectDesc}"</p>

<style>
    div {
        padding: .25em;
        min-height: 12em;
        width: 100%;
    }
</style>