/*Root Variables
=============================================================================*/
:root {
    --background-color: #3b373f;
    --light-purple: #e0b5f9;
    --white: #dedede;
    --purple: #b573db;
    --dark-purple: #7c39a3;
    --yellow: #dbd973;
    --blue: #7388db;
    --green: #73db7c;
    --red: #db7373;
    --orange: #dba773;
    --cyan: #73c5db;
    --gradient-color-light-purple: linear-gradient(to right,var(--light-purple),var(--purple));
}

/*Fonts
=============================================================================*/
@font-face {
    font-family: 'Roboto Mono';
    src: url('/public/Fonts/RobotoMono-Medium.ttf');
}

@font-face {
    font-family: 'Martian Mono';
    src: url('/public/Fonts/MartianMono-Medium.ttf');
}

/*HTML Elements
=============================================================================*/
body {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    color: var(--white);
    background-color: var(--background-color);
}

h1,h2,h3,h3,h4 {
    font-family: 'Roboto Mono';
    text-align: center;
}

hr {
    width: 100%;
    border: 1px solid var(--light-purple);
}

p {
    font-family: 'Martian Mono';
}

a {
    font-family: 'Martian Mono';
    font-size: 1em;
    color: var(--light-purple)
}

/*IDs & Classes
=============================================================================*/
.text-gradient-light-purple {
    background:var(--gradient-color-light-purple);
    background-clip:text;
    -webkit-text-fill-color: transparent;
}

.gridContainer {
    min-height: 100%;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(3,33%);
    grid-template-rows: repeat(auto-fill,2em);
    grid-column-gap: 1em;
    grid-row-gap: 6em;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexCol {
    display: flex;
    flex-direction: column;
}

.flexRowWrap {
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  flex-wrap:wrap
}

.chip {
    font-family: 'Martian Mono';
    background-color: var(--white);
    border: 2px solid var(--white);
    border-radius: 5px;
    color: var(--background-color);
    padding: 2px;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.yellow {
    background-color: var(--yellow);
    border: 2px solid var(--yellow);
}

.blue {
    background-color: var(--blue);
    border: 2px solid var(--blue);
}

.orange {
    background-color: var(--orange);
    border: 2px solid var(--orange);
}